@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-festival{
    padding: 5rem 0;
    @include m.tablet {
        @include m.grid(4,5rem);
    }
}

.sobre-festival1{
    padding: 5rem 0;
    @include m.tablet {
        @include m.grid(2,5rem);
    }
}

.titulo{
    margin-top: 3rem;
    text-align: center;
    font-weight: 900;
}

.contenido-festival{
    display: flex;
    flex-direction: column;
    justify-content: center;

    a{
        color: v.$negro;
    }

    margin-top: 5rem;
    @include m.tablet {
        margin-top: 0;
    }
    h2{
        margin-bottom: 2rem;
        font-weight: 900;
    }
    .fecha{
        color: v.$rosa;
        font-weight: 900;
    }
    
}

